header {
text-align: center; 

    .multicolor {
background: linear-gradient(to right, MidnightBlue, RoyalBlue, RoyalBlue, DarkTurquoise, DarkTurquoise, LightCyan, white, LightCyan, DarkTurquoise, DarkTurquoise, RoyalBlue, RoyalBlue, MidnightBlue);
color: black;
padding: 40px; 
text-align: center; 
border-radius: 5px; 


}
 
}


#btn1 {
    cursor: pointer;
}

head {
    p {
    font-family: 'Arial', 'sans-serif';
}
}