header {

    .multicolor {
background: linear-gradient(to right, MidnightBlue, RoyalBlue, RoyalBlue, DarkTurquoise, DarkTurquoise, LightCyan, white, LightCyan, DarkTurquoise, DarkTurquoise, RoyalBlue, RoyalBlue, MidnightBlue);
color: black;
padding: 40px; 
text-align: center; 
font-size: 40px;
border-radius: 5px; 


}
 
}


#btn1 {
    cursor: pointer;
}

main{
    .Parágrafo {
        text-align: center;
        font-size: 30;
    }
}
